@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");
.speedyui {
  --su-primary-color: var(--bs-primary);
  --su-secondary-color: #b65cf9;
  --su-nav-link-color:var(--bs-dark);
  font-family: "Inter", sans-serif;
}
.speedyui .speedyui-btn {
  transform: translateY(0px);
  transition: all 0.3s;
  background-color: var(--su-primary-color);
  color: var(--bs-white);
}
.speedyui .speedyui-btn:hover {
  transform: translateY(5px);
}

.speedyui-header {
  z-index: 9;
}
.speedyui-header ul, .speedyui-header ol, .speedyui-header p, .speedyui-header h1, .speedyui-header h2, .speedyui-header h3, .speedyui-header h4, .speedyui-header h5, .speedyui-header h6, .speedyui-header figure {
  margin: 0;
  padding: 0;
}
.speedyui-header ul.navbar-nav li.nav-item {
  margin: 0 1.25rem;
}
@media (min-width: 1200px) {
  .speedyui-header ul.navbar-nav li.nav-item {
    margin: 0 1.85rem;
  }
}
.speedyui-header ul.navbar-nav li.nav-item a.nav-link {
  color: var(--su-nav-link-color);
  padding: 2rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
}
.speedyui-header ul.navbar-nav li.nav-item a.nav-link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 24px;
  width: 100%;
  border-bottom: 2px solid var(--su-primary-color);
  transform: scaleX(0);
  transition: all 0.5s ease;
}
.speedyui-header ul.navbar-nav li.nav-item a.nav-link.active:before {
  transform: scaleX(1);
}
.speedyui-header ul.navbar-nav li.nav-item a.nav-link.active::after {
  border-color: var(--bs-dark);
}
.speedyui-header ul.navbar-nav li.nav-item a.nav-link:hover:before {
  transform: scaleX(1);
}
.speedyui-header ul.navbar-nav li.nav-item a.nav-link:hover:after {
  border-color: var(--su-nav-link-color);
}
.speedyui-header ul.navbar-nav li.nav-item:last-of-type a.nav-link {
  margin-right: 0;
  padding-right: 0;
}
.speedyui-header ul.navbar-nav li.nav-item:first-of-type a.nav-link {
  margin-left: 0;
  padding-left: 0;
}
.speedyui-header ul.navbar-nav .dropdown-menu {
  border-radius: 0;
  box-shadow: 0 0px 10px rgba(37, 37, 37, 0.12);
  margin: 0;
  background: #fff;
  border: none;
  transition: all 0.3s;
  top: 115% !important;
  z-index: 9;
}
.speedyui-header ul.navbar-nav .dropdown-menu a.dropdown-item {
  padding: 0.35rem 1rem;
  transition: all 0.3s;
  font-size: 0.9rem;
  color: var(--su-nav-link-color);
  font-weight: 500;
}
.speedyui-header ul.navbar-nav .dropdown-menu a.dropdown-item:after {
  border-color: var(--su-nav-link-color);
}
.speedyui-header ul.navbar-nav .dropdown-menu a.dropdown-item:hover {
  padding-left: 1.5rem;
  color: var(--su-primary-color);
}
.speedyui-header ul.navbar-nav .dropdown-menu a.dropdown-item:hover:after {
  border-color: var(--su-primary-color);
}
.speedyui-header ul.navbar-nav .dropdown-menu a.dropdown-item.active {
  color: var(--su-primary-color);
}
.speedyui-header ul.navbar-nav .dropdown-toggle:after {
  border-color: var(--su-nav-link-colork);
  box-sizing: border-box;
  height: 0.4em;
  width: 0.4em;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: all 0.3s;
  margin-left: 0.355em;
}
.speedyui-header ul.nav-controls li {
  color: var(--su-nav-link-color);
  transition: all 0.3s;
}
.speedyui-header ul.nav-controls li:hover {
  color: var(--su-primary-color);
}
.speedyui-header .offcanvas-toggle .icon-wrapper {
  z-index: 0;
  color: var(--bs-dark);
  transition: all 0.3s;
}
.speedyui-header .offcanvas-toggle:hover .icon-wrapper {
  color: var(--su-primary-color);
}
.speedyui-header .offcanvas-toggle:hover .icon-wrapper:before {
  opacity: 1;
}
@media screen and (min-width: 992px) {
  .speedyui-header .dropdown .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    display: block;
    min-width: 12em;
  }
  .speedyui-header .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100% !important;
  }
}

.speedyui-offcanvas {
  --su-width: 100%;
  --bs-border-color: #3b3838;
}
.speedyui-offcanvas .btn-close {
  transition: all ease 0.4s;
}
.speedyui-offcanvas .btn-close:hover {
  transform: rotate(90deg);
}
.speedyui-offcanvas .offcanvas {
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  overflow-y: auto;
}
.speedyui-offcanvas .offcanvas.offcanvas-desktop {
  width: var(--su-width);
}
@media (min-width: 768px) {
  .speedyui-offcanvas .offcanvas.offcanvas-desktop {
    --su-width: 445px;
  }
}
.speedyui-offcanvas .offcanvas.offcanvas-desktop .offcanvas-body p {
  font-size: 1.125rem;
}
.speedyui-offcanvas .offcanvas.offcanvas-desktop .contact-wrapper .contact-icon {
  cursor: pointer;
  color: var(--su-primary-color);
}
.speedyui-offcanvas .offcanvas.offcanvas-desktop .contact-wrapper a {
  color: var(--bs-dark);
}
.speedyui-offcanvas .offcanvas.offcanvas-desktop .contact-wrapper a:hover {
  color: var(--su-primary-color);
}
.speedyui-offcanvas .offcanvas.offcanvas-mobile {
  --su-secondary-color: var(--bs-dark);
  color: var(--bs-white);
  border: none;
}
.speedyui-offcanvas .offcanvas.offcanvas-mobile ul.offcanvas-listing li a {
  border-bottom: 1px solid #ededed;
  color: var(--bs-dark);
  transition: color 0.3s ease;
}
.speedyui-offcanvas .offcanvas.offcanvas-mobile ul.offcanvas-listing li a:hover {
  color: var(--su-primary-color);
}
.speedyui-offcanvas .offcanvas.offcanvas-mobile ul.offcanvas-listing li a span {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.speedyui-offcanvas .offcanvas.offcanvas-mobile ul.offcanvas-listing li a.collapsed span {
  transform: rotate(0deg);
}
.speedyui-offcanvas .offcanvas.offcanvas-mobile ul.offcanvas-listing li:last-of-type a {
  border-bottom: 0;
}
.speedyui-offcanvas .offcanvas.offcanvas-mobile ul.offcanvas-listing .collapse li a {
  border-bottom: 1px solid #ededed;
}
.speedyui-offcanvas .social-listing li a {
  width: 50px;
  height: 50px;
  border-radius: 50rem;
  color: var(--bs-dark);
  background-color: var(--bs-light);
  transition: 300ms ease-in;
}
.speedyui-offcanvas .social-listing li a:hover {
  background-color: var(--su-primary-color);
  color: var(--bs-white);
}
.speedyui-offcanvas .floating-blob {
  width: 360px;
  z-index: -1;
  transform: rotate(-180deg);
  color: var(--su-primary-color);
}

.speedyui-hero {
  padding-top: 6rem;
  padding-bottom: 3rem;
  z-index: 0;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), #f7f7f7, rgba(255, 255, 255, 0.5));
}
.speedyui-hero .primary-text {
  color: var(--su-primary-color);
}
@media (min-width: 992px) {
  .speedyui-hero {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
}
.speedyui-hero .hero-content .hero-badge {
  font-size: 13px;
  font-weight: 600;
}
.speedyui-hero .hero-content .l-more {
  color: #6c757d;
  transition: all 0.3s;
}
.speedyui-hero .hero-content .l-more .icon {
  transition: all 0.3s;
  margin-left: 2px;
}
.speedyui-hero .hero-content .l-more:hover {
  color: black;
}
.speedyui-hero .hero-content .l-more:hover .icon {
  margin-left: 8px;
}
.speedyui-hero .hero-content .logo-list img {
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s;
}
.speedyui-hero .hero-content .logo-list img:hover {
  filter: grayscale(0);
  opacity: 1;
}